page-contact {
    /*h1.titulo_rotina {
        padding: 20px;
    }
    div.descricao_rotina {
        font-size: 50;
    }
    div.butao_salva {
        padding-left: 30px;
        display: inline-block;
        font-size: 50px;
    }
    div.butao_cancela {
        padding-left: 95px;
        display: inline-block;
        font-size: 50px;
    }
    ion-icon {
        padding: 40px;
        display: inline-block;
        font-size: 50px;
    }*/
}
